p {
    font-size: 10px;
    color: #757575;
}

#searchform {
    width: 100%;
    border: 1px solid #FF640D;
    border-radius: 8px;
    padding: 10px;
    font-size: 8px;
    color: #757575;
    box-sizing: border-box;
}



.capsule-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.capsule {
    background-color: #FFE0CF;
    color: #3D3D3D;
    font-size: 9px;
    padding: 4px;
    border-radius: 20px;
}



footer {
    margin-top: 27px;
}

#search_button {
    width: 100%;
    background-color: #FF640D;
    border-radius: 8px;
    border: none;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    padding: 0;
}