@font-face {
    font-family: 'Noto Sans KR', sans-serif ;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
}



html {
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 375px;
    max-height: 812px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    box-sizing: border-box;
    overflow: auto;
}


/* 프로필정보 */


#my_profile {
    width: 50px;
    height: 50px;
}

#my_edit {
    width: 20px;
    height: 20px;
}



#mypage_header {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 16px; /* 요소 사이의 간격 */
    padding: 62px 0 36px 0;
}

#mypage_header img:first-child {
    margin-right: 10px; /* 프로필 이미지와 이름 사이의 간격 */
}

#mypage_header p {
    color: #111111;
    flex-grow: 1; /* 이름이 가로 공간을 채우도록 */
    margin: 0; /* 여백 제거 */
    font-size: 32px; /* 원하는 글꼴 크기 설정 */
    font-weight: 500;
}

#mypage_header img:last-child {
    margin-left: auto; /* 오른쪽 끝으로 밀기 */
}



.category {
    font-size: 24px;
    font-weight: 500;
}

.mypage_container + .category {
    margin-top: 36px; /* 섹션 간의 간격 설정 */
}


/* 콘텐츠 */

.mypage_container {
    display: flex;
    overflow-x: auto;
    gap: 18px;
    box-sizing: border-box;
}

.container::-webkit-scrollbar-track {
    margin: 4px;
}


.mypage_box {
    flex: 0 0 auto;
    width: 150px;
    height: 220px;
    border: 0.7px solid #ff640d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.mypage_profile {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 5px;
    padding: 2.5px 10px;
    align-items: center;
    box-sizing: border-box;
}

.mypage_box .mypage_profile img {
    width: 21px;
    height: 21px;
}


.mypage_image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage_box .mypage_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage_title {
    font-size: 8px;
    padding: 15px 10px;
    box-sizing: border-box;
}




/* 하단 네비게이션 바 */

nav {
    background-color: white;
    width: 100vw; /* 뷰포트의 전체 너비로 설정 */
    height: 51px;
    display: flex;
    border-top: 0.5px solid #FFE1D1;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 100px; 
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 20px;
    margin-bottom: 2px; /* 아이콘과 텍스트 간의 간격 조정 */
}

nav p {
    font-size: 10px;
    margin: 0; /* 텍스트의 여백 제거 */
}
#focused {
    color: #ff640d;
}

#search_result_write {
    font-size: 7.5px;
}