@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap');

/* .container2 {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  padding: 0 25px;

  font-family: 'Noto Sans KR', sans-serif;
} */
.container2 {
    display: inline-block;
    /* width: 100vw; */
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
  
.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px; /* nav와의 간격 확보 */
    row-gap: 18px; /* 카드 간격 조정 */
  }
  .recipe-wrap .invisible-card {
  visibility: hidden;
}
.title-box-home {
  text-align: center;
  margin: 18px 0;    
}

.ft-big {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 46.4px;
  margin: 0;    
}

.search {
  background-color: white;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none; 
}

.search-img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.search-link {
  text-decoration: none;
}

.search-box {
  width: 247px;
  font-size: 16px;
  text-align: left;
  color: #757575;  
  display: flex;     
  align-items: center;
}

.recipe-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.recipe-card {
  text-decoration: none;
  color: black;
}

.recipe {
  margin: 0;
  width: 150px;
  height: 220px;
  outline: 1px solid #FF640D;
  border-radius: 10px;

  text-decoration: none;
  color: black;
}

.recipe-profile {
  width: 100%;
  height: 30px;
  display: flex;
  vertical-align: middle;
  padding: 5px;
  padding-left: 10px;
}

.profileimg-img {
  width: 21px;
  height: 21px;

  position: absolute;
  top: 4px;
  left: 10px;
}

.profile-img {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.recipe-img {
  width: 150px;
  height: 150px;
}

.recipe-name {
  font-size: 10px;
  height: 40px;
  display:flex;
  align-items: center;
  padding-left: 10px;
}

.ft-recipe {
  font-size: 12px;
}

.ft-recipe-small {
  padding: 5px;
  margin: 0;
}

.container2::-webkit-scrollbar {
  width: 5px;
}

.container2::-webkit-scrollbar-thumb {
  background-color: #D6D6D6;
  border-radius: 10px;
  max-height: 69px; 
  margin-right: 4px;
}

.container2::-webkit-scrollbar-track {
  background-color: white;
  margin-right: 4px; 
}

nav {
  background-color: white;
  width: 100%; 
  height: 51px;
  display: flex;
  border-top: 0.5px solid #FFE1D1;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 100px; 
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 20px;
  margin-top: 5px;
  margin-bottom: 2px; 
}

nav p {
  font-size: 10px;
  margin: 0; 
}

nav a {
  text-decoration: none; 
  color: inherit; 
}